scope: {{ cluster_name }}

restapi:
    listen: {{ patroni_listen_address }}:{{ patroni_listen_port }}
    connect_address: {{ cluster_host_ip }}:{{ patroni_connect_port }}

bootstrap:
    {{ dsc_config }}

    initdb:
    - encoding: UTF8
    - data-checksums


    users:
        admin:
            password: {{ patroni_admin_password }}
            options:
                - createrole
                - createdb



postgresql:
    listen: {{ postgres_listen_address }}:{{ postgres_listen_port }}
    connect_address: {{ cluster_host_ip }}:{{ postgres_connect_port }}
    config_dir: {{ postgres_config_dir }}
    data_dir: {{ postgres_data_dir }}
    pg_hba: {{ postgresql_pg_hba }}
    authentication:
        replication:
            username: {{ postgres_replication_username }}
            password: {{ postgres_replication_password }}
        superuser:
            username: {{ postgres_superuser_username }}
            password: {{ postgres_superuser_password }}

{{ patroni_tags }}
