scope: {{ item.cluster_name }}

restapi:
    listen: {{ patroni_listen_address }}:{{ patroni_listen_port }}
    connect_address: {{ item.host_ip }}:{{ item.patroni_connect_port }}

consul:
    host: {{ consul_container_name }}
    port: 8500
    protocol: http

bootstrap:
    {{ item.dsc_config|indent(4) }}

    initdb:
    - encoding: UTF8
    - data-checksums


    users:
        admin:
            password: {{ patroni_admin_password }}
            options:
                - createrole
                - createdb



postgresql:
    listen: {{ postgres_listen_address }}:{{ postgres_listen_port }}
    connect_address: {{ item.host_ip }}:{{ item.postgres_connect_port }}
    config_dir: {{ postgres_config_dir }}
    data_dir: {{ postgres_data_dir }}
    pg_hba: {{ item.pg_hba }}
    authentication:
        replication:
            username: {{ item.replication_username }}
            password: {{ item.replication_password }}
        superuser:
            username: {{ item.superuser_username }}
            password: {{ item.superuser_password }}

{{ item.tags }}
